# why we create the .env (own enivornment).
# Protects sensitive data
# Avoids exposing secrets in code
# Makes switching configs easy
# Clean and professional project setup
# Standard practice in React, Node, Next.js, Express, Django, everything

VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="your-project-id"
VITE_APPWRITE_DATABASE_ID="your-database-id"
VITE_APPWRITE_COLLECTION_ID="your-collection-id"
VITE_APPWRITE_BUCKET_ID="your-bucket-id"
VITE_TINYMCE_API_KEY="your-tinymce-api-key"
